JWT_SECRET=         # Must be at least 32 bytes

MAIL_USERNAME=
MAIL_PASSWORD=      # Don't include space

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Must be an OAuth client registered as the "Desktop app" type
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=